In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

import os
from utils import *
from settings import station_locale, data_root, output_folder, report_folder

In [8]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder

In [2]:
data_folder = '../outputs/'
report_folder = '../report_rc/'

## Load Data & EDA & Processing

In [3]:
aq_df = pd.read_csv(os.path.join(data_folder, 'air_quality_no_duplicates.zip'))
gw_df = pd.read_csv(os.path.join(data_folder, 'grid_weather_processed.zip'))
ow_df = pd.read_csv(os.path.join(data_folder, 'ob_weather_processded.zip'))

In [4]:
aq_df = aq_df.drop(['Unnamed: 0'], axis=1)
gw_df = gw_df.drop(['Unnamed: 0'], axis=1)
ow_df = ow_df.drop(['Unnamed: 0'], axis=1)

In [5]:
aq_df.head()

,station_id,PM2.5,PM10,NO2,CO,O3,SO2,CO3,longitude,latitude,local_time,date,time,solar_term,time_label,NearTraffic,Others,SubUrban,Urban,datetime_label
0,aotizhongxin_aq,453.0,467.0,156.0,7.2,3.0,9.0,29.428746,116.397,39.982,2017-01-01 22:00:00,2017-01-01,22:00:00,7,4,0,0,0,1,0
1,aotizhongxin_aq,417.0,443.0,143.0,6.8,2.0,8.0,37.000000,116.397,39.982,2017-01-01 23:00:00,2017-01-01,23:00:00,7,3,0,0,0,1,1
2,aotizhongxin_aq,395.0,467.0,141.0,6.9,3.0,8.0,40.285393,116.397,39.982,2017-01-02 00:00:00,2017-01-02,00:00:00,7,2,0,0,0,1,2
3,aotizhongxin_aq,420.0,484.0,139.0,7.4,3.0,9.0,28.142929,116.397,39.982,2017-01-02 01:00:00,2017-01-02,01:00:00,7,1,0,0,0,1,3
4,aotizhongxin_aq,453.0,520.0,157.0,7.6,4.0,9.0,38.856791,116.397,39.982,2017-01-02 02:00:00,2017-01-02,02:00:00,7,0,0,0,0,1,4

In [6]:
gw_df.head()

,station_id,longitude,latitude,local_time,temperature,pressure,humidity,wind_direction,wind_speed,date,time,solar_term,time_label,datetime_label
0,beijing_grid_000,115.0,39.0,2017-01-01 08:00:00,-5.47,984.73,76.60,53.71,3.53,2017-01-01,08:00:00,7,6,0
1,beijing_grid_001,115.0,39.1,2017-01-01 08:00:00,-5.53,979.33,75.40,43.59,3.11,2017-01-01,08:00:00,7,6,0
2,beijing_grid_002,115.0,39.2,2017-01-01 08:00:00,-5.70,963.14,71.80,0.97,2.75,2017-01-01,08:00:00,7,6,0
3,beijing_grid_003,115.0,39.3,2017-01-01 08:00:00,-5.88,946.94,68.20,327.65,3.84,2017-01-01,08:00:00,7,6,0
4,beijing_grid_004,115.0,39.4,2017-01-01 08:00:00,-5.34,928.80,58.81,317.85,6.14,2017-01-01,08:00:00,7,6,0

In [7]:
ow_df.head()

,station_id,longitude,latitude,local_time,temperature,pressure,humidity,wind_direction,wind_speed,weather,date,time,solar_term,time_label,datetime_label
0,shunyi_meo,116.615278,40.126667,2017-01-31 00:00:00,-1.7,1028.7,15.0,215.0,1.6,Sunny/clear,2017-01-31,00:00:00,9,2,0
1,shunyi_meo,116.615278,40.126667,2017-01-31 01:00:00,-3.5,1028.4,24.0,16.0,1.0,Haze,2017-01-31,01:00:00,9,1,1
2,shunyi_meo,116.615278,40.126667,2017-01-31 02:00:00,-3.7,1028.1,27.0,32.0,1.1,Haze,2017-01-31,02:00:00,9,0,2
3,shunyi_meo,116.615278,40.126667,2017-01-31 03:00:00,-3.9,1027.6,27.0,21.0,0.9,Haze,2017-01-31,03:00:00,9,1,3
4,shunyi_meo,116.615278,40.126667,2017-01-31 04:00:00,-4.1,1026.7,26.0,17.0,1.1,Haze,2017-01-31,04:00:00,9,2,4

In [11]:
df_indicator = gw_df[['longitude', 'latitude', 'local_time', 'temperature', 'pressure', 'humidity']]
df_indicator = df_indicator.append(ow_df[['longitude', 'latitude', 'local_time', 'temperature', 'pressure', 'humidity']])

In [13]:
datetime_labeler = LabelEncoder()
df_indicator['datetime_label'] = datetime_labeler.fit_transform(df_indicator['local_time'])
aq_df['datetime_label'] = datetime_labeler.transform(aq_df['local_time'])

In [ ]:
neibours = 7
weight = 'distance' # 'uniform', 'distance'

train_x = df_indicator[['longitude', 'latitude', 'datetime_label']]
train_y = df_indicator[['temperature']]
knn_temperature = KNeighborsRegressor(n_neighbors=neibours, weights=weight)
knn_temperature.fit(train_x, train_y)

train_x = df_indicator[['longitude', 'latitude', 'datetime_label']]
train_y = df_indicator[['pressure']]
knn_pressure = KNeighborsRegressor(n_neighbors=neibours, weights=weight)
knn_pressure.fit(train_x, train_y)

train_x = df_indicator[['longitude', 'latitude', 'datetime_label']]
train_y = df_indicator[['humidity']]
knn_humidity = KNeighborsRegressor(n_neighbors=neibours, weights=weight)
knn_humidity.fit(train_x, train_y)

In [ ]:
aq_df['temperature'] = knn_temperature.predict(aq_df[['longitude', 'latitude', 'datetime_label']])
aq_df['pressure'] = knn_temperature.predict(aq_df[['longitude', 'latitude', 'datetime_label']])
aq_df['humidity'] = knn_temperature.predict(aq_df[['longitude', 'latitude', 'datetime_label']])