In [16]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

from utils import *

ModuleNotFoundError: No module named 'utils'

In [14]:
data_root = '../data/'
air_quality_list = ['airQuality_201701-201801.csv', 'airQuality_201802-201803.csv', 'aiqQuality_201804.csv']
grid_weather_list = ['gridWeather_201701-201803.csv', 'gridWeather_201804.csv', 'gridWeather_20180501-20180502.csv']
ob_weather_list = ['observedWeather_201701-201801.csv', 'observedWeather_201802-201803.csv',
                   'observedWeather_201804.csv', 'observedWeather_20180501-20180502.cs']

In [3]:
! ls  -l ./data

total 1265672
-rw-r--r--@ 1 leonling  staff      11161 Sep 19 15:43 Beijing_AirQuality_Stations_en.xlsx
-rw-r--r--@ 1 leonling  staff      17874 Sep 19 15:47 Beijing_grid_weather_station.csv
-rw-r--r--@ 1 leonling  staff    1603077 Sep 22 21:27 aiqQuality_201804.csv
-rw-r--r--@ 1 leonling  staff   18523061 Sep 19 15:50 airQuality_201701-201801.csv
-rw-r--r--@ 1 leonling  staff    2919660 Sep 22 21:22 airQuality_201802-201803.csv
-rw-r--r--@ 1 leonling  staff  554911410 Sep 19 15:44 gridWeather_201701-201803.csv
-rw-r--r--@ 1 leonling  staff   40972190 Sep 22 21:48 gridWeather_201804.csv
-rw-r--r--@ 1 leonling  staff    2770682 Sep 22 21:49 gridWeather_20180501-20180502.csv
-rw-r--r--@ 1 leonling  staff   16134464 Sep 19 15:33 observedWeather_201701-201801.csv
-rw-r--r--@ 1 leonling  staff    1732433 Sep 19 19:04 observedWeather_201802-201803.csv
-rw-r--r--@ 1 leonling  staff     978466 Sep 22 21:31 observedWeather_201804.csv
-rw-r--r--@ 1 leonling  staff      66049 Sep 22 21:35 observedWeather_20180501-20180502.csv
-rw-r--r--@ 1 leonling  staff      37545 Sep 21 22:52 sample_submission.csv
drwxr-xr-x@ 5 leonling  staff        160 Oct 26 14:14 station_map
-rw-r--r--@ 1 leonling  staff     100387 Sep 22 22:01 weatherData_detail.docx
-rw-r--r--@ 1 leonling  staff        165 Nov 26 14:39 ~$Beijing_AirQuality_Stations_en.xlsx
-rw-r--r--@ 1 leonling  staff        162 Nov 26 01:53 ~$atherData_detail.docx

## Load Data

In [4]:
def load_data(files):
    if type(files) is not list:
        files = [files]
    df = None
    for file in files:
        temp_df = pd.read_csv(os.path.join(data_root, file))
        if df is None:
            df = temp_df
        else:
            df.append(temp_df)
    return df

### air quality data

In [149]:
df_aq = load_data('airQuality_201701-201801.csv')
print(len(df_aq))
df_aq.head()

311010

         stationId             utc_time  PM2.5   PM10    NO2   CO   O3  SO2
0  aotizhongxin_aq  2017-01-01 14:00:00  453.0  467.0  156.0  7.2  3.0  9.0
1  aotizhongxin_aq  2017-01-01 15:00:00  417.0  443.0  143.0  6.8  2.0  8.0
2  aotizhongxin_aq  2017-01-01 16:00:00  395.0  467.0  141.0  6.9  3.0  8.0
3  aotizhongxin_aq  2017-01-01 17:00:00  420.0  484.0  139.0  7.4  3.0  9.0
4  aotizhongxin_aq  2017-01-01 18:00:00  453.0  520.0  157.0  7.6  4.0  9.0

In [150]:
df_aq2 = load_data('airQuality_201802-201803.csv')
print(len(df_aq2))
df_aq2.head()

49420

         stationId             utc_time  PM2.5  PM10   NO2   CO   O3   SO2
0  aotizhongxin_aq  2018-01-31 16:00:00   49.0  82.0  90.0  0.9  6.0  10.0
1  aotizhongxin_aq  2018-01-31 17:00:00   47.0  80.0  90.0  0.9  5.0  10.0
2  aotizhongxin_aq  2018-01-31 18:00:00   46.0  91.0  91.0  1.3  5.0  28.0
3  aotizhongxin_aq  2018-01-31 19:00:00   60.0  95.0  85.0  2.0  6.0  38.0
4  aotizhongxin_aq  2018-01-31 20:00:00   52.0  91.0  81.0  1.9  5.0  30.0

In [151]:
df_aq = df_aq.append(df_aq2)
len(df_aq)

In [152]:
df_aq3 = load_data('aiqQuality_201804.csv')
print(len(df_aq3))
df_aq3.head()

23310

,id,station_id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration
0,2942426,dongsi_aq,2018-04-01 02:00:00,259.0,NaN,98.0,3.4,56.0,57.0
1,2942427,tiantan_aq,2018-04-01 02:00:00,250.0,NaN,95.0,3.1,64.0,28.0
2,2942428,guanyuan_aq,2018-04-01 02:00:00,240.0,246.0,107.0,2.2,49.0,30.0
3,2942429,wanshouxigong_aq,2018-04-01 02:00:00,255.0,260.0,87.0,2.5,65.0,35.0
4,2942430,aotizhongxin_aq,2018-04-01 02:00:00,266.0,NaN,111.0,3.5,45.0,57.0

In [153]:
new_names = {'station_id': 'stationId',
             'time': 'utc_time',
             'PM25_Concentration': 'PM2.5',
             'PM10_Concentration': 'PM10',
             'NO2_Concentration': 'NO2',
             'CO_Concentration': 'CO',
             'O3_Concentration': 'CO3',
             'SO2_Concentration': 'SO2'
            }
df_aq3.set_index('id', inplace=True)
df_aq3.rename(columns=new_names, inplace=True)
df_aq3.head()
df_aq3.iloc[-1]

stationId          dongsihuan_aq
utc_time     2018-04-30 23:00:00
PM2.5                         53
PM10                         173
NO2                           78
CO                           0.5
CO3                            2
SO2                            5
Name: 2980711, dtype: object

In [154]:
df_aq = df_aq.append(df_aq3, sort=False)

In [155]:
df_aq

,stationId,utc_time,PM2.5,PM10,NO2,CO,O3,SO2,CO3
0,aotizhongxin_aq,2017-01-01 14:00:00,453.0,467.0,156.0,7.2,3.0,9.0,NaN
1,aotizhongxin_aq,2017-01-01 15:00:00,417.0,443.0,143.0,6.8,2.0,8.0,NaN
2,aotizhongxin_aq,2017-01-01 16:00:00,395.0,467.0,141.0,6.9,3.0,8.0,NaN
3,aotizhongxin_aq,2017-01-01 17:00:00,420.0,484.0,139.0,7.4,3.0,9.0,NaN
4,aotizhongxin_aq,2017-01-01 18:00:00,453.0,520.0,157.0,7.6,4.0,9.0,NaN
5,aotizhongxin_aq,2017-01-01 19:00:00,429.0,NaN,141.0,6.5,3.0,9.0,NaN
6,aotizhongxin_aq,2017-01-01 20:00:00,211.0,NaN,110.0,3.3,NaN,11.0,NaN
7,aotizhongxin_aq,2017-01-01 21:00:00,116.0,NaN,87.0,2.2,4.0,13.0,NaN
8,aotizhongxin_aq,2017-01-01 22:00:00,51.0,NaN,58.0,1.3,26.0,14.0,NaN
9,aotizhongxin_aq,2017-01-01 23:00:00,38.0,NaN,55.0,1.1,28.0,14.0,NaN
10,aotizhongxin_aq,2017-01-02 00:00:00,21.0,NaN,40.0,0.7,42.0,16.0,NaN
11,aotizhongxin_aq,2017-01-02 01:00:00,16.0,NaN,40.0,0.8,44.0,18.0,NaN
12,aotizhongxin_aq,2017-01-02 02:00:00,23.0,NaN,42.0,0.7,45.0,17.0,NaN
13,aotizhongxin_aq,2017-01-02 03:00:00,18.0,NaN,30.0,0.6,59.0,14.0,NaN
14,aotizhongxin_aq,2017-01-02 04:00:00,58.0,247.0,76.0,2.4,46.0,12.0,NaN
15,aotizhongxin_aq,2017-01-02 05:00:00,176.0,NaN,99.0,0.3,42.0,17.0,NaN
16,aotizhongxin_aq,2017-01-02 06:00:00,109.0,211.0,86.0,2.6,58.0,14.0,NaN
17,aotizhongxin_aq,2017-01-02 07:00:00,267.0,NaN,125.0,4.2,53.0,19.0,NaN
18,aotizhongxin_aq,2017-01-02 08:00:00,260.0,NaN,115.0,3.9,56.0,18.0,NaN
19,aotizhongxin_aq,2017-01-02 09:00:00,212.0,NaN,112.0,3.6,50.0,14.0,NaN
20,aotizhongxin_aq,2017-01-02 10:00:00,183.0,NaN,111.0,0.3,33.0,14.0,NaN
21,aotizhongxin_aq,2017-01-02 11:00:00,136.0,NaN,89.0,2.3,41.0,14.0,NaN
22,aotizhongxin_aq,2017-01-02 12:00:00,137.0,NaN,89.0,2.2,35.0,13.0,NaN
23,aotizhongxin_aq,2017-01-02 13:00:00,125.0,NaN,90.0,2.1,28.0,13.0,NaN
24,aotizhongxin_aq,2017-01-02 14:00:00,153.0,NaN,108.0,2.5,13.0,14.0,NaN
25,aotizhongxin_aq,2017-01-02 15:00:00,165.0,NaN,126.0,3.1,2.0,14.0,NaN
26,aotizhongxin_aq,2017-01-02 16:00:00,225.0,NaN,148.0,4.9,4.0,23.0,NaN
27,aotizhongxin_aq,2017-01-02 17:00:00,275.0,NaN,158.0,6.4,7.0,28.0,NaN
28,aotizhongxin_aq,2017-01-02 18:00:00,293.0,NaN,155.0,6.4,5.0,17.0,NaN
29,aotizhongxin_aq,2017-01-02 19:00:00,293.0,NaN,153.0,6.2,5.0,16.0,NaN
...,...,...,...,...,...,...,...,...,...
2980682,nongzhanguan_aq,2018-04-30 23:00:00,61.0,279.0,40.0,0.4,NaN,3.0,36.0
2980683,wanliu_aq,2018-04-30 23:00:00,52.0,181.0,56.0,0.4,NaN,5.0,11.0
2980684,beibuxinqu_aq,2018-04-30 23:00:00,79.0,541.0,32.0,0.6,NaN,2.0,37.0
2980685,zhiwuyuan_aq,2018-04-30 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2980686,fengtaihuayuan_aq,2018-04-30 23:00:00,63.0,260.0,45.0,0.6,NaN,2.0,32.0
2980687,yungang_aq,2018-04-30 23:00:00,41.0,127.0,24.0,0.5,NaN,2.0,33.0
2980688,gucheng_aq,2018-04-30 23:00:00,72.0,296.0,30.0,0.5,NaN,2.0,51.0
2980689,fangshan_aq,2018-04-30 23:00:00,44.0,144.0,56.0,0.6,NaN,2.0,26.0
2980690,daxing_aq,2018-04-30 23:00:00,54.0,151.0,70.0,0.3,NaN,2.0,15.0
2980691,yizhuang_aq,2018-04-30 23:00:00,42.0,96.0,80.0,0.8,NaN,2.0,4.0
2980692,tongzhou_aq,2018-04-30 23:00:00,41.0,102.0,56.0,0.6,NaN,3.0,14.0
2980693,shunyi_aq,2018-04-30 23:00:00,37.0,52.0,30.0,0.8,NaN,3.0,43.0
2980694,pingchang_aq,2018-04-30 23:00:00,72.0,587.0,24.0,0.3,NaN,2.0,54.0
2980695,mentougou_aq,2018-04-30 23:00:00,49.0,435.0,27.0,0.5,NaN,2.0,57.0
2980696,pinggu_aq,2018-04-30 23:00:00,32.0,59.0,24.0,0.6,NaN,2.0,53.0
2980697,huairou_aq,2018-04-30 23:00:00,32.0,61.0,20.0,0.6,NaN,2.0,45.0
2980698,miyun_aq,2018-04-30 23:00:00,53.0,202.0,19.0,0.5,NaN,2.0,57.0
2980699,yanqin_aq,2018-04-30 23:00:00,83.0,343.0,49.0,0.6,NaN,2.0,2.0
2980700,dingling_aq,2018-04-30 23:00:00,76.0,418.0,17.0,0.3,NaN,2.0,63.0
2980701,badaling_aq,2018-04-30 23:00:00,121.0,1188.0,36.0,0.3,NaN,2.0,39.0
2980702,miyunshuiku_aq,2018-04-30 23:00:00,42.0,49.0,17.0,0.6,NaN,2.0,48.0
2980703,donggaocun_aq,2018-04-30 23:00:00,23.0,42.0,13.0,0.4,NaN,2.0,52.0
2980704,yongledian_aq,2018-04-30 23:00:00,31.0,95.0,75.0,0.9,NaN,3.0,4.0
2980705,yufa_aq,2018-04-30 23:00:00,51.0,117.0,62.0,0.6,NaN,2.0,11.0
2980706,liulihe_aq,2018-04-30 23:00:00,48.0,124.0,37.0,0.6,NaN,2.0,7.0
2980707,qianmen_aq,2018-04-30 23:00:00,64.0,316.0,63.0,0.5,NaN,3.0,25.0
2980708,yongdingmennei_aq,2018-04-30 23:00:00,55.0,298.0,102.0,0.6,NaN,6.0,24.0
2980709,xizhimenbei_aq,2018-04-30 23:00:00,185.0,428.0,72.0,0.4,NaN,3.0,15.0
2980710,nansanhuan_aq,2018-04-30 23:00:00,54.0,228.0,61.0,0.4,NaN,2.0,23.0
2980711,dongsihuan_aq,2018-04-30 23:00:00,53.0,173.0,78.0,0.5,NaN,5.0,2.0

### grid weather data

In [6]:
df_gw = load_data('gridWeather_201804.csv')

### observed weather data

In [ ]:
df_bw = load_data()

In [156]:
# df_aq = load_data('aiqQuality_201804.csv')     # 35 stations
# df_gw = load_data('gridWeather_201804.csv')    # 651 points [115.0,41.0] --> [118.0, 39.0]  (longtitude, latitude)
# df_ow = load_data('observedWeather_201804.csv')    # 18 weather station
# df_aq = load_data(air_quality_list)

## EDA & Preprocessing

In [128]:
len(df_aq)

311010

In [62]:
df_gw.head()

,id,station_id,time,weather,temperature,pressure,humidity,wind_direction,wind_speed
0,2027019,beijing_grid_000,2018-04-01 00:00:00,CLEAR_DAY,15.0,974.1536,21.0,346.93,4.18
1,2027020,beijing_grid_001,2018-04-01 00:00:00,CLEAR_DAY,15.0,960.6752,20.0,329.47,4.50
2,2027021,beijing_grid_002,2018-04-01 00:00:00,CLEAR_DAY,9.0,947.1968,19.0,315.38,5.16
3,2027022,beijing_grid_003,2018-04-01 00:00:00,CLEAR_DAY,9.0,931.8720,19.0,307.81,5.74
4,2027023,beijing_grid_004,2018-04-01 00:00:00,CLEAR_DAY,9.0,914.7008,20.0,304.23,6.08

In [63]:
df_ow.head()

,id,station_id,time,weather,temperature,pressure,humidity,wind_speed,wind_direction
0,2028533,shunyi_meo,2018-04-01 01:00:00,Hail,15.5,1009.2,51.0,0.5,82.0
1,2028534,hadian_meo,2018-04-01 01:00:00,Hail,15.7,1006.8,51.0,1.8,50.0
2,2028535,yanqing_meo,2018-04-01 01:00:00,Hail,12.6,955.6,33.0,0.8,34.0
3,2028536,miyun_meo,2018-04-01 01:00:00,Hail,14.8,1004.0,40.0,0.2,999017.0
4,2028537,huairou_meo,2018-04-01 01:00:00,Hail,15.3,1003.4,44.0,1.5,146.0

In [112]:
def utc2local(datetime):
    
    timeArray = time.strptime(datetime, "%Y-%m-%d %H:%M:%S")
    timestamp = time.mktime(timeArray)
    timestamp += 28800
    datetime = time.localtime(timestamp)
    datetime = time.strftime("%Y-%m-%d %H:%M:%S", datetime)
    
    return datetime

In [13]:
# # df_aq[df_aq['stationId']=='aotizhongxin_aq']['O3'].plot()
# # plt.show()
# df_aq[df_aq[df_aq['stationId']=='aotizhongxin_aq'].isnull()]
# # plt.show()
df_gw

,id,station_id,time,weather,temperature,pressure,humidity,wind_direction,wind_speed
0,2027019,beijing_grid_000,2018-04-01 00:00:00,CLEAR_DAY,15.0,974.1536,21.0,346.93,4.18
1,2027020,beijing_grid_001,2018-04-01 00:00:00,CLEAR_DAY,15.0,960.6752,20.0,329.47,4.50
2,2027021,beijing_grid_002,2018-04-01 00:00:00,CLEAR_DAY,9.0,947.1968,19.0,315.38,5.16
3,2027022,beijing_grid_003,2018-04-01 00:00:00,CLEAR_DAY,9.0,931.8720,19.0,307.81,5.74
4,2027023,beijing_grid_004,2018-04-01 00:00:00,CLEAR_DAY,9.0,914.7008,20.0,304.23,6.08
5,2027024,beijing_grid_005,2018-04-01 00:00:00,CLEAR_DAY,9.0,897.5296,20.0,301.03,6.44
6,2027025,beijing_grid_006,2018-04-01 00:00:00,CLEAR_DAY,9.0,879.2960,22.0,291.28,5.74
7,2027026,beijing_grid_007,2018-04-01 00:00:00,CLEAR_DAY,11.0,861.0624,23.0,279.26,5.24
8,2027027,beijing_grid_008,2018-04-01 00:00:00,CLEAR_DAY,16.4,853.7376,24.0,253.56,5.82
9,2027028,beijing_grid_009,2018-04-01 00:00:00,CLEAR_DAY,16.4,857.3216,25.0,230.65,8.50
10,2027029,beijing_grid_010,2018-04-01 00:00:00,CLEAR_DAY,12.0,860.9056,26.0,219.65,11.86
11,2027030,beijing_grid_011,2018-04-01 00:00:00,CLEAR_DAY,12.0,871.5872,26.0,216.54,13.27
12,2027031,beijing_grid_012,2018-04-01 00:00:00,CLEAR_DAY,12.0,882.2688,26.0,214.04,14.71
13,2027032,beijing_grid_013,2018-04-01 00:00:00,CLEAR_DAY,12.0,892.8736,26.0,212.89,13.74
14,2027033,beijing_grid_014,2018-04-01 00:00:00,CLEAR_DAY,9.0,903.4016,26.0,212.67,10.36
15,2027034,beijing_grid_015,2018-04-01 00:00:00,CLEAR_DAY,9.0,913.9296,26.0,212.24,6.97
16,2027035,beijing_grid_016,2018-04-01 00:00:00,CLEAR_DAY,9.0,913.6992,26.0,197.97,4.96
17,2027036,beijing_grid_017,2018-04-01 00:00:00,CLEAR_DAY,9.0,913.4688,25.0,169.43,3.60
18,2027037,beijing_grid_018,2018-04-01 00:00:00,CLEAR_DAY,9.0,904.7104,26.0,160.31,4.35
19,2027038,beijing_grid_019,2018-04-01 00:00:00,CLEAR_DAY,9.0,887.4240,28.0,172.08,6.46
20,2027039,beijing_grid_020,2018-04-01 00:00:00,CLEAR_DAY,9.0,870.1376,30.0,177.93,8.71
21,2027040,beijing_grid_021,2018-04-01 00:00:00,CLEAR_DAY,15.0,983.1008,24.0,1.40,3.70
22,2027041,beijing_grid_022,2018-04-01 00:00:00,CLEAR_DAY,15.0,972.8224,22.0,340.07,3.68
23,2027042,beijing_grid_023,2018-04-01 00:00:00,CLEAR_DAY,15.0,962.5440,20.0,321.07,4.14
24,2027043,beijing_grid_024,2018-04-01 00:00:00,CLEAR_DAY,15.0,948.7718,19.0,311.25,4.77
25,2027044,beijing_grid_025,2018-04-01 00:00:00,CLEAR_DAY,15.9,931.5059,19.0,307.56,5.31
26,2027045,beijing_grid_026,2018-04-01 00:00:00,CLEAR_DAY,15.9,914.2400,19.0,304.56,5.88
27,2027046,beijing_grid_027,2018-04-01 00:00:00,CLEAR_DAY,15.9,900.4941,20.0,294.29,5.43
28,2027047,beijing_grid_028,2018-04-01 00:00:00,CLEAR_DAY,15.9,886.7482,21.0,282.63,5.19
29,2027048,beijing_grid_029,2018-04-01 00:00:00,CLEAR_DAY,16.4,875.6986,22.0,259.06,5.69
...,...,...,...,...,...,...,...,...,...
463446,3115598,beijing_grid_621,2018-04-30 23:00:00,CLOUDY,16.0,992.2006,59.0,40.00,9.94
463447,3115599,beijing_grid_622,2018-04-30 23:00:00,CLOUDY,16.0,980.1483,62.0,29.50,10.25
463448,3115600,beijing_grid_623,2018-04-30 23:00:00,CLOUDY,18.0,961.9493,65.0,19.22,10.10
463449,3115601,beijing_grid_624,2018-04-30 23:00:00,CLOUDY,16.0,943.7502,69.0,8.97,10.27
463450,3115602,beijing_grid_625,2018-04-30 23:00:00,PARTLY_CLOUDY_DAY,12.0,946.8335,68.0,6.49,10.21
463451,3115603,beijing_grid_626,2018-04-30 23:00:00,PARTLY_CLOUDY_DAY,14.0,949.9168,68.0,3.99,10.18
463452,3115604,beijing_grid_627,2018-04-30 23:00:00,PARTLY_CLOUDY_DAY,14.0,951.9298,66.0,3.10,10.60
463453,3115605,beijing_grid_628,2018-04-30 23:00:00,CLEAR_DAY,16.0,952.8724,65.0,3.75,11.48
463454,3115606,beijing_grid_629,2018-04-30 23:00:00,CLEAR_DAY,14.0,953.7103,63.0,4.73,12.30
463455,3115607,beijing_grid_630,2018-04-30 23:00:00,CLOUDY,16.0,1013.8814,83.0,54.46,13.09
463456,3115608,beijing_grid_631,2018-04-30 23:00:00,CLOUDY,15.0,1013.7514,76.0,57.46,11.57
463457,3115609,beijing_grid_632,2018-04-30 23:00:00,CLOUDY,15.0,1013.6215,69.0,61.37,10.08
463458,3115610,beijing_grid_633,2018-04-30 23:00:00,CLOUDY,15.0,1013.5288,63.0,64.88,9.16
463459,3115611,beijing_grid_634,2018-04-30 23:00:00,CLOUDY,15.0,1013.4735,56.0,67.22,8.77
463460,3115612,beijing_grid_635,2018-04-30 23:00:00,CLOUDY,15.0,1013.4182,49.0,69.77,8.40
463461,3115613,beijing_grid_636,2018-04-30 23:00:00,CLOUDY,15.0,1013.1346,49.0,71.66,8.73
463462,3115614,beijing_grid_637,2018-04-30 23:00:00,CLOUDY,15.0,1012.8510,48.0,73.41,9.06
463463,3115615,beijing_grid_638,2018-04-30 23:00:00,CLOUDY,14.0,1010.5542,49.0,72.61,9.43
463464,3115616,beijing_grid_639,2018-04-30 23:00:00,CLOUDY,14.0,1006.2442,52.0,69.54,9.83
463465,3115617,beijing_grid_640,2018-04-30 23:00:00,CLOUDY,16.0,1001.9342,55.0,66.73,10.27
463466,3115618,beijing_grid_641,2018-04-30 23:00:00,CLOUDY,16.0,999.0025,56.0,54.23,10.38
463467,3115619,beijing_grid_642,2018-04-30 23:00:00,CLOUDY,16.0,995.1126,58.0,39.86,11.36
463468,3115620,beijing_grid_643,2018-04-30 23:00:00,CLOUDY,16.0,984.9528,61.0,32.92,11.06
463469,3115621,beijing_grid_644,2018-04-30 23:00:00,CLOUDY,16.0,965.6483,65.0,23.41,10.53
463470,3115622,beijing_grid_645,2018-04-30 23:00:00,CLOUDY,16.0,946.3439,68.0,13.23,10.33
463471,3115623,beijing_grid_646,2018-04-30 23:00:00,PARTLY_CLOUDY_DAY,14.5,951.2008,68.0,12.07,10.00
463472,3115624,beijing_grid_647,2018-04-30 23:00:00,PARTLY_CLOUDY_DAY,14.5,956.0577,67.0,10.83,9.69
463473,3115625,beijing_grid_648,2018-04-30 23:00:00,PARTLY_CLOUDY_DAY,14.5,957.5996,66.0,10.82,9.81
463474,3115626,beijing_grid_649,2018-04-30 23:00:00,CLEAR_DAY,14.0,955.4325,64.0,14.21,10.38
463475,3115627,beijing_grid_650,2018-04-30 23:00:00,CLEAR_DAY,14.0,952.2032,63.0,16.51,11.19

In [126]:
df_aq.iloc[-1]

stationId           zhiwuyuan_aq
utc_time     2018-01-31 15:00:00
PM2.5                        NaN
PM10                         NaN
NO2                          NaN
CO                           NaN
O3                           NaN
SO2                          NaN
Name: 311009, dtype: object

In [109]:
offset.seconds

28800

In [111]:
utc2local('2018-04-01 01:00:00')

'2018-04-01 09:00:00'

## Missing value handling

In [84]:
def split_station_aq():
    dfs = {}
    for station in df_aq['stationId'].unique():
        dfs[station] = df_aq[df_aq['stationId']==station]
    return dfs

station_aqs = split_station_aq()

In [87]:
for key, value in list(station_aqs.items()):
    station_aqs[key+'_miss'] = value[value.isnull]

aotizhongxin_aq
badaling_aq
beibuxinqu_aq
daxing_aq
dingling_aq
donggaocun_aq
dongsi_aq
dongsihuan_aq
fangshan_aq
fengtaihuayuan_aq
guanyuan_aq
gucheng_aq
huairou_aq
liulihe_aq
mentougou_aq
miyun_aq
miyunshuiku_aq
nansanhuan_aq
nongzhanguan_aq
pingchang_aq
pinggu_aq
qianmen_aq
shunyi_aq
tiantan_aq
tongzhou_aq
wanliu_aq
wanshouxigong_aq
xizhimenbei_aq
yanqin_aq
yizhuang_aq
yongdingmennei_aq
yongledian_aq
yufa_aq
yungang_aq
zhiwuyuan_aq

## Feature Engineering

In [68]:
def get_season(time: str):
    # sdupid method to get season
    
    date = time.split()[0]
    date = date.split('-')
    year = int(date[0])
    month = int(date[1])
    day = int(date[2])
    
    if month in [12, 1]:
        return 'winter'
    elif month in [3, 4]:
        return 'spring'
    elif month in [6, 7]:
        return 'summer'
    elif month in [9, 10]:
        return 'autumn'
        
    if year == 2017:
        if month == 2:
            return 'winter' if day < 3 else 'spring'
        elif month == 5:
            return 'spring' if day < 5 else 'summer'
        elif month == 8:
            return 'summer' if day < 7 else 'autumn'
        elif month == 11:
            return 'autumn' if day < 7 else 'winter'
    elif year == 2018: 
        if month == 2:
            return 'winter' if day < 4 else 'spring'
        elif month == 5:
            return 'spring' if day < 5 else 'summer'
        elif month == 8:
            return 'summer' if day < 7 else 'autumn'
        elif month == 11:
            return 'autumn' if day < 7 else 'winter'
    return None
    

def cal_dis(latitude1, longitude1,latitude2, longitude2):
    latitude1 = (Math.PI/180)*latitude1
    latitude2 = (Math.PI/180)*latitude2
    longitude1 = (Math.PI/180)*longitude1
    longitude2= (Math.PI/180)*longitude2

    R = 6378.1;
    d =  math.acos(math.sin(latitude1)*math.sin(latitude2)+\
         math.cos(latitude1)*math.cos(latitude2)*math.cos(longitude2-longitude1))*R
    return d